<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Notes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="notes.css"/>
</head>

<body>

  <div id="note-app" class="container">

    <div class="row">
        <div class="col-md-3">
            <h1>Quicknotes</h1>
            <a href="#">New Note [+]</a>
            <hr/>
            <ul id="note-list"></ul>
        </div>

        <div class="col-md-9">
            <input type="text" class="form-control" id="current-note-title" />
            <textarea class="form-control" rows="3" id="current-note-body"></textarea>
        </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
  <script src="https://cdn.firebase.com/libs/backfire/0.3.0/backbone-firebase.min.js"></script>
  
  <script src="notes.js"></script>

  <!-- Templates -->

  <script type="text/template" id="note-template">
    <div class="view">
      <h3><%- title %></h3>
      <p><%- body %></p>
    </div>
  </script>

  </body>
</html>