#primary {
    margin: 20px 0;
}

.muted {
    color: #ccc;
    font-size: 0.85em;
}

.note-preview-title {

}

.note-preview-body {

}

#primary-note-title {
    margin: 5px 0 20px;
}

#primary-note-body {

}