<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quicknotes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  
  
</head>
<body>

    <div id="note-app" class="container">
        <%= yield %>
    </div>

</body>
</html>
